::-webkit-scrollbar {
    width: var(--size-8);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
    border-radius:var(--size-8);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--primary-dark);
  }
  